<div class="ms-3">
  <p *ngIf="usdPrice">1 {{ selectedTabName }} = {{ usdPrice | number: '0.1-4'}} USD</p>
  <div class="mt-2">
    <mat-form-field>
      <input
        type="number"
        placeholder="USD"
        matInput
        [formControl]="usdControl"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        type="number"
        placeholder="{{ selectedTabName }}"
        matInput
        [formControl]="cryptoControl"
      />
    </mat-form-field>
  </div>
</div>
