<mat-table [dataSource]="dataSource" class="w-100">
  <ng-container matColumnDef="coin">
    <mat-header-cell *matHeaderCellDef>Coin</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <img
        class="crypto-icon pe-3"
        [src]="
          'https://cryptoicon-api.vercel.app/api/icon/' + element.coin
            | lowercase
        "
      />
      <span>{{ element.coin }} </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="price_low">
    <mat-header-cell *matHeaderCellDef>Low</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span *ngIf="element.price_low; else loadingLow">
        {{ element.price_low }}$
      </span>
      <ng-template #loadingLow>
        <mat-spinner [diameter]="24"></mat-spinner>
      </ng-template>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="price_high">
    <mat-header-cell *matHeaderCellDef>High</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span *ngIf="element.price_high; else loadingHigh">
        {{ element.price_high }}$
      </span>
      <ng-template #loadingHigh>
        <mat-spinner [diameter]="24"></mat-spinner>
      </ng-template>
    </mat-cell>
  </ng-container>
  <mat-header-row
    *matHeaderRowDef="displayedColumns; sticky: true"
  ></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
