<mat-table [dataSource]="dataSource" class="w-100">
  <ng-container matColumnDef="coin">
    <mat-header-cell *matHeaderCellDef>Coin</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span>{{ element.asset_id }}</span>
    </mat-cell> </ng-container
  ><ng-container matColumnDef="low">
    <mat-header-cell *matHeaderCellDef>Low</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span>{{ element.asset_id }}</span>
    </mat-cell> </ng-container
  ><ng-container matColumnDef="high">
    <mat-header-cell *matHeaderCellDef>High</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span>{{ element.asset_id }}</span>
    </mat-cell>
  </ng-container>
  <mat-header-row
    *matHeaderRowDef="displayedColumns; sticky: true"
    class="compact"
  ></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
