<div class="position-relative">
  <div class="spinner-container" *ngIf="!cryptos">
    <mat-spinner class="m-auto"></mat-spinner>
  </div>
  <div mat-dialog-content>
    <app-select
      [cryptos]="cryptos"
      (selectedCrypto)="handleSelectedCrypto($event)"
    ></app-select>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-between">
    <button mat-raised-button class="success" (click)="save()">Add</button>
    <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
  </div>
</div>
