.spinner-container {
  z-index: 1000;
  background: rgba(121, 126, 129, 0.1);
  position: absolute;
  justify-content: center;
  align-items: center;
  width: calc(100% + 48px) !important;
  height: calc(100% + 48px) !important;
  margin: -24px;
  top: 0;
  left: 0;
}
